<div class="container mt-4">
    <hr class="my-4">
    <h5 class="text-center">SÍGUENOS</h5>
    <div class="row">
    
        <div class="col-md-4 d-flex flex-column align-items-center">
            <a class="links__link links__link--icon d-block mb-2" href="http://www.instagram.com" alt="Instagram" title="Síguenos en Instagram">
                <i class="fab fa-instagram"></i>
                <span>Instagram</span>
            </a>
            <a class="links__link links__link--icon d-block mb-2" href="http://www.tiktok.com" alt="TikTok" title="Síguenos en TikTok">
                <i class="fab fa-tiktok"></i>
                <span>TikTok</span>
            </a>
            <a class="links__link links__link--icon d-block mb-2" href="http://www.pinterest.com" alt="Pinterest" title="Síguenos en Pinterest">
                <i class="fab fa-pinterest"></i>
                <span>Pinterest</span>
            </a>
            <a class="links__link links__link--icon d-block mb-2" href="http://www.twitter.com" alt="Twitter" title="Síguenos en Twitter">
                <i class="fab fa-twitter"></i>
                <span>Twitter</span>
            </a>
            <a class="links__link links__link--icon d-block mb-2" href="http://www.facebook.com" alt="Facebook" title="Síguenos en Facebook">
                <i class="fab fa-facebook"></i>
                <span>Facebook</span>
            </a>
            <a class="links__link links__link--icon d-block mb-2" href="http://www.youtube.com" alt="YouTube" title="Síguenos en YouTube">
                <i class="fab fa-youtube"></i>
                <span>YouTube</span>
            </a>
        </div>


        <div class="col-md-4 d-flex flex-column">
            <a href="#" class="mb-1">Busca una tienda</a>
            <a href="#" class="mb-1">Horarios y días de apertura</a>
            <a href="#" class="mb-1">Gourmet Experience</a>
            <a href="#" class="mb-1">Cafetería y restaurantes</a>
            <a href="#" class="mb-1">Eventos</a>
            <a href="#" class="mb-1">MeetUp</a>
        </div>

        <div class="col-md-4 d-flex flex-column">
            <a href="#" class="mb-1">Atención al cliente</a>
            <a href="#" class="mb-1">Mis compras</a>
            <a href="#" class="mb-1">Formas de pago</a>
            <a href="#" class="mb-1">Gastos de envío</a>
            <a href="#" class="mb-1">Devoluciones</a>
            <a href="#" class="mb-1">Trabajar con nosotros</a>
        </div>
    </div>
</div>


