@{
    ViewData["Title"] = "Home Page";
}
<div class="video-container">
    <iframe width="667" height="375" src="https://www.youtube.com/embed/7eS7schhJ8k" class="video-iframe"
            title="Black Myth: Wukong Release Date Trailer | Confront Destiny on August 20, 2024 - English Dub"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
    </iframe>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
